<!-- <h1>Snazzy Tracks</h1>

<a href="/tracks/new">Post a snazzy, new track!</a>
<p> You know you want to.. </p> -->

<div class="container">
  <div class="jumbotron">
    <h1>Snazzy Tracks!</h1> 
    <p>Post, find, vote and review Snazzy Tracks for FREE!</p> 
  </div>
</div>
